<div class="container fixed-bottom colorBody1">
    <div class="container text-center colorNavbar2">
        <button type="button" class="btn btn-warning btn-sm cookies8 mt-n1">
            <u>Política de provacidad o cookies</u>

        </button>
        <div class="row">
            <div class="col">
              <a (click)="whatsApp()" class="cursor7">
                <i class="fab fa-whatsapp mr-3 ml-3"></i>
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook mr-3"></i>
              </a>
              <a href="mailto:v.mellaq@gmail.com" target="_blank">
                <i class="fas fa-envelope mr-3"></i>
              </a>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin-in mr-3"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram mr-3"></i>
              </a>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
              </a>
            </div>
          </div>
          <p class="mb-1">
              <small class="text-muted colorName3">
                Copyright&copy;&nbsp;Victor Mella ({{anio}})&nbsp; Todos los derechos reservados
              </small>
          </p>
    </div>
</div>